* {
  line-height: 1.5rem;
}

body {
  background-image: url(../assets/destination/background-destination-mobile.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

:root {
  --text-white: #ffffff;
  --light-blue: #e5f9ff;
}

h1,
h2,
p,
li,
a {
  color: var(--light-blue);
}

h1 {
  font-size: 1.5rem;
}

h1 > span {
  color: #808080;
  margin-inline-end: 0.75rem;
}

main img {
  width: 10rem;
  object-fit: scale-down;
}

ul {
  list-style-type: none;
}

.destination {
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.destination li:not(:last-child) {
  margin-inline-end: 1.5rem;
}

ul li a {
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;
}

h2 {
  text-transform: uppercase;
}

.content {
  padding-bottom: 2rem;
  border-bottom: 1px solid var(--text-white);
}

.destination-infor {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.destination-infor li {
  text-transform: uppercase;
}

.text-center {
  text-align: center;
}

@media only screen and (min-width: 768px) {
  body {
    background-image: url(../assets/destination/background-destination-tablet.jpg);
  }

  .flex {
    display: flex;
    flex-direction: row;
    gap: 6rem;
  }

  .margin-bt {
    margin-bottom: 1rem;
  }

  main p {
    width: 40rem;
    line-height: 3rem;
    font-size: 1.5rem;
  }

  .destination {
    font-size: 1.5rem;
    margin: 2rem;
  }

  h2 {
    font-size: 6rem;
    margin: 2rem;
  }

  h1 {
    font-size: 2rem;
    margin-bottom: 1rem;
  }

  main img {
    width: 20rem;
  }
}
